.hidden {
    display: none;
}

.bgImg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h2 {
    font-family: "Silkscreen";
    text-align: right;
    color: rgb(255, 255, 255);
  }

h1 {
    font-family: 'Silkscreen', cursive;
    text-align: center;
    color: white;
  }

.loginInput{
    font-family: 'Silkscreen', cursive;
    font-size: 21px; 
    width: 350px; 
    height:38px; 
    border: none; 
    border-radius: 20px; 
    background-color: rgb(173, 230, 214);
}

.loginBtn {
    font-family: 'Silkscreen', cursive;
    position: relative;
    border: none;
    width: 5%;
    min-height: 45px;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    border-radius: 1000px;
    color: darkslategray;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 1000;
    font-size: 18px;
    transition: 0.3s;
}

.loginBtn:hover {
    transform: scale(1.2);
}

.todoInput{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 24px;
    text-align: center;
    height:35px;
    border: none;
    border-radius: 20px;
    width: 40%;
    padding: 6px;
}

ul {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 22px;
    width: 25%;
    margin: 0 auto;
    background-color: rgba(173, 230, 214, 0.2);
  }

ul li .delBtn {
  width: 30px;
  height: 25px;
  margin: 0 0 0 17%;
  position: absolute;
  border: none;
  background: url(https://cdn.iconscout.com/icon/free/png-256/delete-844-902124.png)
    no-repeat 100% 100%;
  background-size: contain;
}

.bottomcenter {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    font-size: 22px;
    color:rgb(8, 8, 61);
    font-family: 'Righteous', cursive;
  }
  
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 22px;
    color:rgb(255, 255, 255);
    font-family: 'Silkscreen', cursive;
  }


